@charset "UTF-8";
@font-face {
    font-family: xtudiefont;
    src: url(../assets/Nexa-Font/Nexa\ Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: xtudiefont;
    src: url(../assets/Nexa-Font/Nexa\ Light.otf);
    font-weight: lighter;
}
@font-face {
    font-family: xtudiefont;
    src: url(../assets/Nexa-Font/Nexa\ Regular.otf);
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    position: relative !important;
    box-sizing: border-box;
}
body {
    font-family: "xtudiefont", sans-serif;
    color: #473E64;
    background-color: #F9F7FF;
}
header {
    padding: .5rem 6% !important;
    font-size: 18px;
    background-color: #fcfbfd;
}
.navs {
    padding: 4px;
}
.navs ul {
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.navs ul li { 
    cursor: pointer;
    padding: .5rem 1rem;
}
.navbar-nav ul li a{
    text-decoration: none;
    color: #473E64;
    transition: 0.5;
    font-weight: 600;
}
.nav-links a::after{
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color:#6255A5;
    transition: .5s;
}
.nav-links a:hover::after {
    width: 60%;
}
.sign-up button {
    padding: .6rem 1rem;
    font-size: 16px;
    color: #000;
}
.logo img {
    width: 130px;
}
#sign-in {
    border: none;
    background-color: transparent;
}
.navbar-brand {
    flex: 1;
}
#above-fold {
    display: flex;
    padding: 0 6%;
    height: 100vh;
}
.intro {
    padding: 8% 0;
    width: 50%;
}
.intro p{
    font-size: 16px;
}
.intro h1 {
    font-size: 48px;
    font-weight: 600;
    padding: .3rem 0;
}
#search-books {
    padding: 1.5rem 0;
    display: flex;
    margin: 0;
    gap: 0;
    flex-wrap: nowrap;
}
#label{
    width: 100%;
}
#book{
    color: #79BF91;
}
#search-books input, #search-books button{
    padding: .5rem 1.2rem;
    border-radius: 10px;
    margin: 0;
    font-size: 16px;
    border: #6255A5 2px solid;
}
#search-books input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    transition: .5s;
}
#login-btn, #search-books button{
    background-color: #6255A5;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#login-btn {
    border-radius: 10px;
}
/* About */
#about{
    background-color: #fff;
    padding: 0 6%;
}
#aboutUsTitle {
    font-weight: 60 0;
    text-align: center;
}
#features {
    display: flex;
    justify-content: space-around;
}
.cards{
    transition: transform .5s;
    cursor: pointer;
}
.cards:hover{
    transform: translateY( -10px);
}
.card-icons {
    font-size: 44px;
    color: #1b793c;
}
/*Materials*/
#materials{
    padding: 0 6%; 
}
#pMaterials{
    font-weight: 600;
    text-align: center;
    margin: auto;
}
.materials-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.materials-list .material{
    width: 32%;
    border: 1px rgb(207, 202, 202) solid;
    background-color: #fcfbfd;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    transition: .5s;}.materials-list .material #price {
        color: #79BF91;
        font-weight: 600;
        font-size: 20px;
    }
.materials-foot{
    display: flex;
}
.material-info{
    display: flex;
    gap: 12px;
}
.material-container .materials-foot a {
    text-decoration: none;
    color: #fff;
    padding: .8rem 1.2rem;
    border-radius: 10px;
    margin: auto;
    font-size: 16px;
    background-color: #79BF91;
    transition: .5s;
}
.materials-list hr{
    background-color: rgb(207, 202, 202) ;
}
.material-container .materials-foot a:hover{
    background-color: #56d884;
    color: #fcfbfd;
}
.materials-list .material:hover {
    background-color: #6255A5;
    color: #fcfbfd;
}.materials-list .material:hover ~ .materials-list .material:nth-child(2){
    color: #fcfbfd !important;
}.materials-list .material:hover ~ .materials-list .material button{
    background-color: #79BF91;
    color: #F9F7FF !important;
    border-color: #79BF91;
}.materials-list .material:hover hr{
    background-color: #fcfbfd;
}
.materials-list .material #material-name {
    font-weight: 600;
    font-size: 24px;
}
.materials-list .material button{
    border: 2px #6255A5 solid;
    padding: .5rem 1.1rem;
    background-color: #fcfbfd;
    outline: none;
    color: #6255A5;
    font-size: 16px;
    border-radius: 10px;
    margin-top: .7rem;
    transition: .3s;}.materials-list .material button:hover {
        transform: scale(1.03);}
#menu {
    display: none;
}
.login {
    display: none;
}
btn:focus, a:focus
{
         outline: none;
}
.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}.navbar-nav{
    display: flex;
    align-items: center;
}
/* course categories */
#courseCategories{
    padding: 0 6%;
}
/* Mobile screens */
@media (max-width: 768px){
    header {
        padding: .5rem 3%;
    }
    .navbar-brand{
        margin: auto;
        flex: 0;
        width: 110px !important;
    }.navbar-toggler{
        padding: 0;
    }
    #above-fold{
        height: 90vh;
    }
    .intro {
        width: 100%;
    }
    .intro h1{
        font-size: 36px;
    }
    .materials-list .material {
        width: 48%;
        padding: 2%;
    }
    .materials-list .material #material-name{
        font-size: 18px;
    }
    #menu{
        display: block;
    }
    .materials-list .material button{
          padding: .3rem .8rem;
          font-size: 14px;
    }
    #search-books input, #search-books button{
        padding: .5rem .5rem;
    }
    .nav-links{
        margin: 0 !important;
        padding-left: 0;
    }.nav-link{
        padding-left: 0 !important;
    }.nav-links a:hover::after{
        width: 0;
    }.navbar-nav{
        display: block;
    } 
}
